#titles {
  --parallax-aspect-ratio: calc(1117 / 1728); /* inverse aspect ratio */

  z-index: 7; 
  flex-direction: column;
  display: inline-flex;
  position: absolute; 
  align-items: flex-end;
  top: calc(100vw * var(--parallax-aspect-ratio) * 0.1);
  left: 70%; 
  transform: translateX(-50%); 
}

h1 {
  color: #05502f;
  font-family: "Fredoka";
  font-size: 5.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3vw;
  line-height: 0;
}

h2 {
  color: #05502f;
  font-family: "Fredoka";
  font-size: 2.6vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 0.2;
  line-height: 0;
  margin: 0; 
}
