.parallax {
  width: 100vw;
  height: 64vw;
  /* overflow: hidden; */
  position: relative;
}

.animation,
.animation_layer {
  height: 60vw;
  bottom: 0;
}


.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 50vw;
  background-repeat: repeat-x;
  width: 100vw;
  position: absolute;
  top: 0%;
}

.animation_image {
    width: 100vw;
    height: auto;
}

.animation_layer.parallax {
  position: fixed;
  /* height: 55vw; */
}

#layer1 {
  z-index: 6;
  height: auto;
}
#layer2 {
  z-index: 5;
  height: auto;
}
#layer3 {
  z-index: 4;
  height: auto;
}
#layer4 {
  z-index: 3;
  height: auto;
}
#layer5 {
  z-index: 2;
  height: auto;
}
#layer6 {
  z-index: 1;
  height: auto;
}
#titles {
  z-index: 7; 
  flex-direction: column;
  display: inline-flex;
  position: absolute; 
  align-items: flex-end;
  top: 9%;
  left: 70%; 
  transform: translateX(-50%); 
}

h1 {
  color: #05502f;
  font-family: "Fredoka";
  font-size: 5.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3vw;
  line-height: 0;
}

h2 {
  color: #05502f;
  font-family: "Fredoka";
  font-size: 2.6vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 0.2;
  line-height: 0;
  margin: 0; 
}
