#titles {
  --parallax-aspect-ratio: calc(1117 / 1728); /* inverse aspect ratio */

  z-index: 7; 
  flex-direction: column;
  display: inline-flex;
  position: absolute; 
  align-items: flex-end;
  top: calc(100vw * var(--parallax-aspect-ratio) * 0.1);
  left: 70%;
  transform: translateX(-50%);
}

.logo {
  height: 5.5vw;
  margin-bottom: 0.5vw;
}

h2 {
  color: #05502f;
  font-family: "Fredoka";
  font-size: 2.6vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 0.2;
  line-height: 0;
  margin: 0; 
}

@media only screen and (max-width: 768px) {
  #titles {
    top: calc(100vw * var(--parallax-aspect-ratio) * 0.05);
    width: 50%;
    left: 65%;
  }

  #titles .logo {
    height: calc(var(--title-font-size) * 2);
  }

  #titles h2 {
    font-size: var(--subtitle-font-size);
  }
}

@media only screen and (max-width: 500px) {
  #titles h2 {
    font-size: calc(var(--subtitle-font-size) * (3/4));
  }
}