.speaker-section {
  width: 100vw;
  height: auto;
  position: relative;
}

.background-svg {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  display: block;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.speaker-section-content {
  margin-top: 5%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.speaker-title {
  color: #FCF8B8;
  font-family: Fredoka;
  font-size: var(--title-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12vw;
  text-align: center;
}

.speaker-text {
  color: #FCF8B8;
  font-family: Fredoka;
  font-size: var(--body-font-size);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .speaker-section {
    margin-top: var(--title-font-size);
  }

  .speaker-section-content {
    margin-top: 0;
  }
}
