#about {
  .section-heading {
    margin-bottom: $small-space;
  }

  .container {
    max-width: $max-width;
    margin: 0 auto;
    color: $light-gray;
    @media screen and (max-width: $max-width) {
      margin: 0 $large-space;
    }

    div:last-child {
      margin: auto;
      height: 39.5vw;
      width: 75vw;
      max-width: $max-width;
      max-height: $max-width * 39.5/75;
    }
  }
}

#intro {
  margin-bottom: $small-space;
  font-size: $medium-font-size;
  text-align: center;
}

#body {
  font-size: $medium-font-size;
  margin-bottom: $medium-space;
  text-align: center;
}
