#about {
  margin: $large-space 0;

  .section-heading {
    margin-bottom: $small-space;
  }

  .container {
    margin: 0 $large-space;

    div:last-child {
      margin: auto;
      height: 26.3vw;
      width: 50vw;
    }
  }
}

#intro {
  margin-bottom: $small-space;
  font-size: $medium-font-size + 4;
}

#body {
  font-size: $medium-font-size;
  margin-bottom: 100px;
}
