#challenges {
  margin: $large-space 0;

  .section-heading {
    padding-top: 100px;
    margin-bottom: $small-space;
  }

  .container {
    color: $light-gray;

    @include flex(row wrap, center, flex-start);
    @media screen and (max-width: 750px) {
      display: block;
      width: 100%;
    }
  }
}

.challenge {
  width: (90vw) / 3;
  min-width: 300px;
  padding: $small-space;
  background-color: $background-color;
  @include flex(column nowrap, flex-start, center);

  @media screen and (max-width: 750px) {
    display: block;
    width: 80%;
    margin: 0px auto;
    margin-top: 30px;
    padding: $large-space;
  }

  img {
    margin-bottom: $small-space;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

  }

  h1 {
    font-size: $subheading-font-size;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: $small-space;
    font-weight: $heavy-font-weight;
  }

  p {
    font-size: $medium-font-size;
  }
}
