#circuit {
  @include flex(row nowrap, center, flex-start);
  position: absolute;
  top: calc(33vh - 19vw);
  width: 100vw;

  img {
    width: 85vw;
    padding-left: 1.5%;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  #circuit {
    top: calc(2.5vh);

    img {
      height: 45vh;
      width: auto;
      padding-left: 2vh;
    }
  }
}
