#codeofconduct {
    .container {
        margin: 10px 20px;
    }

    .paragraph {
        margin: 15px 0px;
    }

    .section-heading {
      margin-bottom: $small-space;
    }
  
    .body {
      font-size: $medium-font-size;
      margin-bottom: $medium-space;
      text-align: center;
    }
  }
  