#codeofconduct {
    .container {
        margin: 40px 22vw;
    }

    .paragraph {
        margin: 15px 0px;
    }

    .header {
      font-size: 36px;
      font-weight: 900;
    }
  
    .body {
      font-size: $medium-font-size;
      margin-bottom: $medium-space;
      text-align: center;
    }
  }
  