.deadlines-widget {
  border: 2px dashed #00E174;
  border-radius: 0.75vh;
  padding: 0.5rem 0.75rem;
  text-align: center;
  line-height: 1.5;

  span {
    font-weight: bold;
  }

  .past {
    text-decoration: line-through;
    font-style: italic;
  }
}
