#faq {
  margin: $large-space 0;

  .container {
    margin: 0 $large-space/2;
  }

  a {
    color: $green;
  }
}

.header-row {
  @include flex(row nowrap, space-between, flex-end);
  margin-top: $large-space;

  h1 {
    flex: 0 0 25%;
    padding: 0 $large-space/2;
  }
}

.paragraph-row {
  @include flex(row nowrap, space-between, flex-start);
  margin-top: $small-space;

  p {
    flex: 0 0 25%;
    padding: 0 $large-space/2;
  }
}
