#footer {
  position: relative;
  text-align: center;
}

.footer-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 15px 20px 0px;
  transition: 0.2s;

  &:nth-child(5) {
    margin-right: 0;
  }

  &:hover {
    transform: scale(1.05, 1.05);
  }

  img {
    width: 100%;
  }
}

#mlh-trust-badge {
  display: block;
  min-width: 60px;
  max-width: 85px;
  width: 10vw;
  margin: 0 auto;
  padding-bottom: 1rem;

  @media screen and (min-width: 751px) {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2vw;
  }

  img {
    width: 100%;
  }
}
