/* Color Palette */
$dark-gray: #535152;
$light-gray: #696E76;
$green: #00E174;
$white: #FFFFFF;

$background-color: white;
$text-color: black;
$blue: #A7DDE8;
$pink: #E51B5D;
$orange: #F46E20;

/* Font Styles */
@font-face {
  font-family: "Avenir";
  src: url('fonts/AvenirLTStd-Roman.otf');
}

@font-face {
  font-family: "Avenir Heavy";
  src: url('fonts/AvenirLTStd-Heavy.otf');
}

@font-face {
  font-family: "Avenir Black";
  src: url('fonts/AvenirLTStd-Black.otf');
}

$avenir: 'Avenir', sans-serif;
$avenir-heavy: 'Avenir Heavy', sans-serif;
$base-font-size: 16px;
$medium-font-size: $base-font-size + 2;
$heading-font-size: $base-font-size * 3;

/* Base Styles */
$small-space: 2vw;
$medium-space: 5vh;
$large-space: 7.5vw;
$transition-speed: .5s;
$border-style: 2px solid;

@mixin flex($flex-flow, $justify, $align) {
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $justify;
  align-items: $align;
}

.logo-text-tree {
  font-family: $avenir;
}

.logo-text-hacks {
  font-family: $avenir-heavy;
}

.section-heading {
  font-size: $heading-font-size;
  text-transform: uppercase;
  text-align: center;
}

.apply-button {
  border: $border-style #00000000;
  box-sizing: border-box;
  background-color: $orange;
  color: white;
  display: block;
  font-family: $avenir-heavy;
  font-size: $base-font-size * 1.75;
  padding: 1vh 0;
  text-align: center;
  transition: all $transition-speed;

  &:hover {
    transform: scale(1.05);
  }

  &.subtle {
    background: transparent;
    color: #fff;
    font-size: $base-font-size * 1.1;
    border: $border-style $green;
  }
}
