#green-line {
    @include flex(row nowrap, flex-start, flex-start);

    position: absolute;
    top: calc(33vh - 19vw);
    width: 85vw;
    padding-left: 1.5%; 
    z-index: -1;
}

@media screen and (max-aspect-ratio: 1/1) {
  #green-line {
    top: calc(2.5vh);
    height: 45vh;
    width: auto;
    padding-left: 2vh;
  }
}
  
