$green-line-border-width: 4px;
$green-line-border-style: $green-line-border-width solid $green;

@media screen and (min-width: 751px) {
  #about, #verticals, #projects {
    position: relative;
  }

  #verticals:before,
  #about:before {
    content: "";
    display: block;
    border-top: $green-line-border-style;
    position: absolute;
    left: 5%;
    right: 8%;
    top: 13px;
    z-index: -1;
  }

  #verticals:before {
    left: 0;
  }

  #verticals .section-heading,
  #about .section-heading {
      background-color: $dark-gray;
      display: inline-block;
      padding: 0 10px;
  }

  #verticals .container:after {
    border-right: $green-line-border-style;
    content: "";
    position: absolute;
    right: 8%;
    top: calc(-2vw - 20px);
    height: calc(100% + 2vw + 7.5vw + 35px);
    z-index: -1;
  }

  #verticals .container {
    position: relative;
  }

  #about:before {
    border-left: $green-line-border-style;
    content: "";
    position: absolute;
    right: 8%;
    top: 14px;
    bottom: -4.5vw;
    z-index: -1;
  }

  #about:after {
    border-bottom: $green-line-border-style;
    content: "";
    position: absolute;
    bottom: calc(-7.5vw + 3vw + 0px);
    width: calc(50% - 5% - 1px);
    left: 5%;
  }

  #projects:before {
    content: "";
    border-left: $green-line-border-style;
    position: absolute;
    height: 100%;
    z-index: -1;
    top: calc(-3vw - #{$green-line-border-width});
  }
}
