#home {
  @include flex(column nowrap, flex-start, center);
  height: 100vh;
  width: 100vw;
  padding-top: 33vh;

  img {
    height: 17.5vh;
  }

  h1 {
    font-size: 9vh;
    font-weight: normal;
  }

  h2 {
    font-size: $base-font-size * 1.5;
    font-family: $avenir-heavy;
    color: #A2A2A2;
  }

  .green-button {
    margin: 2.5vh 0;
  }

  p {
    font-size: $heading-font-size;
  }
}

#typewriter-container {
  @include flex(row nowrap, center, center);
  margin-top: 7.5vh;
  white-space: nowrap;

  .typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    margin: 0 10px;
    border-right: 2px solid white;
    transition: width 1.5s;

    &.show {
      width: 100%;
    }
  }
}
