#home {
  @include flex(column nowrap, flex-start, center);
  height: 100vh;
  width: 100%;
  min-height: calc(500px + 45vh);
  padding-top: 30vh;

  img {
    height: 35vh;
  }

  a {
    padding: 0;

    #down-arrow {
      margin-top: 2vh;
      height: 10vh;
    }
  }

  #arm {
    height: 14vh;
    margin-right: auto;
    margin-left: -1vw;
  }

  h1 {
    font-size: 8vh;
    font-weight: normal;
  }

  h2 {
    font-size: $base-font-size * 1.4;
    font-weight: $heavy-font-weight;
    color: $blue;
    max-width: 80vw;

    &.ended {
      font-style: italic;
    }

    @media screen and (max-width: 750px) {
      text-align: center;
    }
  }

  #pink-box {
    background-color: $pink;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      transform: scale(1.05);
    }
  }

  .apply-button {
    padding: 0.5vh 2vw 0.5vh 2vw;
    margin: 10px;
  }

  p {
    font-size: 25px;
  }
}

