$navbar-logo-font-size: 36px;
$navbar-logo-image-height: 40px;
$navbar-font-size: $base-font-size * 1.18;
$navbar-margin: 1.25vw;
$navbar-horizontal-padding: 15px;

#navbar {
  position: fixed;
  top: 0;
  z-index: 101;

  background-color: $background-color;
  height: 80px;
  width: 100vw;

  .container {
    @include flex(row nowrap, center, center);
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 $small-space;
    list-style-type: none;
  }
}

#navbar-logo {
  font-size: $navbar-logo-font-size;
  padding: 0 30px 0 30px;

  a {
    @include flex(row nowrap, flex-start, center);
  }

  img {
    height: $navbar-logo-image-height;
  }
}

.mobile-menu {
  @include flex(row nowrap, center, center);
}

.navbar-item {
  margin: 0 $navbar-margin;
  padding: 0 $navbar-horizontal-padding 0 $navbar-horizontal-padding;
  font-size: $navbar-font-size;

  a {
    color: $light-gray;
  }

  &:hover a {
    color: $pink;
  }
}

.special-link a {
  color: $orange;
}

#navbar-apply {
  margin-left: $navbar-margin;
  padding: $navbar-horizontal-padding $navbar-margin*1.5;
  font-size: $navbar-font-size;
  font-weight: $heavy-font-weight;
  transition: background-color $transition-speed;

  &:hover {
    background-color: $green;
  }
}

@media screen and (max-width: 1023px) {
  body {
    .mobile-menu {
      display: none;
    }
  }
}
