#projects.container {
  margin: $large-space $small-space;

  .section-heading {
    margin-bottom: $small-space;
  }

  @media screen and (max-width: 750px) {
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
  }
}

#projects-grid {
  @include flex(row wrap, center, center);
}

.grid-item {
  width: 25vw;
  height: 25vw;
  margin: 2vw;
  color: white;
  @include flex(column nowrap, center, center);
  &:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
  }

  p {
    margin: 0 1.5vw 0 1.5vw;
  }

  .title {
    font-weight: bold;
    font-size: 2.5vw;
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
  }

  .text {
    text-align: left;
    font-size: 1.5vw;
  }

}
