#projects {
  position: relative;
  margin-bottom: $large-space;

  .section-heading {
    padding-top: 100px;
    margin-bottom: $small-space;
  }

  .container {
    max-width: $max-width;
    margin: $large-space auto;
  }
}

#project-slider {
  margin: 20px auto;
}

#project-selector {
  @include flex(row, space-between, center);
  margin: 0 auto;
  width: calc(300px - 2vw);

  .selection-item {
    transition-duration: 0.5s;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    &:hover {
      transform: scale(1.1);
    }
  }
}


#project-carousel {
  @include flex(row nowrap, space-between, center);
  overflow-x: hidden;
  margin: 30px 0;
  height: 400px;
  min-height: 400px;

  .carousel-item {
    @include flex(column, center, center);
    transition-duration: 0.5s;
    color: white;
    padding: 10px;
    text-align: center;
  }

  h1 {
    font-size: 28px;
    margin: 20px 0;
  }

  p {
    font-size: 18px;
  }

  .main {
    height: 100%;
    width: 40vw;
    padding: 30px;
    border-radius: 10px;

    @media screen and (max-width: 800px) {
      width: 60vw;
    }
  }

  .right, .left {
    height: 75%;
    width: 20vw;
    opacity: 0.5;
    @media screen and (max-width: 800px) {
      visibility: hidden;
    }
  }

  .right {
    border-radius: 15px 0 0 15px;
  }

  .left {
    border-radius: 0 15px 15px 0;
  }
}




// .grid-item {
//   transition-duration: 0.5s;
//   width: 28vw;
//   height: 28vw;
//   margin: 2vw;
//   @media screen and (min-width: $max-width) {
//     width: $max-width * 0.28;
//     height: $max-width * 0.28;
//     margin: $max-width * 0.02;
//   }
//   color: white;
//   @include flex(column nowrap, center, center);
//   &:hover {
//     transform: scale(1.05);
//   }

//   p {
//     text-align: center;
//     margin: 0 1vw;
//     @media screen and (min-width: $max-width) {
//       margin: 0 $max-width * 0.01;
//     }
//   }

//   .title {
//     font-weight: bold;
//     font-size: 2.5vw;
//     text-transform: uppercase;
//     opacity: 1;
//     @media screen and (min-width: $max-width) {
//       font-size: $max-width * 0.025;
//     }
//   }

//   .text {
//     font-size: 1.75vw;
//     @media screen and (min-width: $max-width) {
//       font-size: $max-width * 0.0175;
//     }
//   }

// }
