#projects {
  position: relative;

  .section-heading {
    padding-top: 100px;
    margin-bottom: $small-space;
  }

  .container {
    max-width: $max-width;
    margin: $large-space auto;
  }
}

#projects-grid {
  @include flex(row wrap, center, center);
}

.grid-item {
  box-shadow: 0px 0px 15px 0px #e4e4e4;
  border-radius: 20px;
  transition-duration: 0.5s;
  color: white;
  margin: 2vh 0;
  padding: $small-space;
  width: 25vw;
  margin: 2vh auto;
  cursor: pointer;

  @include flex(column nowrap, center, center);
  &:hover {
    transform: scale(1.05);
  }

  p {
    text-align: center;
    margin: 0 1vw;
    @media screen and (min-width: $max-width) {
      margin: 0 $max-width * 0.01;
    }
  }

  .title {
    font-weight: bold;
    font-size: 2.5vw;
    text-transform: uppercase;
    opacity: 1;
    margin: $small-space 0;
    @media screen and (min-width: $max-width) {
      font-size: $max-width * 0.025;
    }
  }

  .text {
    font-size: 1.75vw;
    margin-bottom: $small-space;
    @media screen and (min-width: $max-width) {
      font-size: $max-width * 0.0175;
    }
  }

}
