#section3 {
  @extend .columns-container;
  background-color: $gray;
  color: #666666;
  flex-flow: row wrap;

  h1 {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

.qa {
  margin: 2.5vh 0;
}

@media screen and (max-aspect-ratio: 1/1) {
  body {
    #section3 {
      flex-flow: column;
    }

    .right {
      margin-top: -2.5vh;
    }
  }
}
