@import url("https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css");

#section1 {
  @extend %section;
  height: 100vh;
  background: linear-gradient(to right, rgba(255,89,72, .85),rgba(244,71,135, .55) ,rgba(244,71,135, .85) 100%);;
  color: $off-white;
  text-align: center;

  > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  video {
    position: absolute;
    display: inline-block;
    width: auto;
    height: auto;
    min-width: 100vw;
    min-height: 100vh;
  }
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.header, .emailSignup {
  height: 30%;
  width: 100%;
}

.header > img {
  height: 30%;
  width: auto;
}

.emailSignup form {
  div[aria-hidden="true"] {
    position: absolute;
    left: -5000px;
  }
  #mce-EMAIL {
    background-color: inherit;
    border: none;
    border-bottom: 1.5px solid $off-white;
    border-radius: 0;
    color: $off-white;
    margin: 0px 7.5px;
  }
  #mce-EMAIL:focus {
    outline: 0;
  }
  #mc-embedded-subscribe {
    background-color: inherit;
    border: 1.5px solid $off-white;
    border-radius: 0;
    margin: 0 7.5px;
    line-height: 0;
  }
  #mc-embedded-subscribe:hover {
    background-color: $off-white;
    color: $primary;
  }
}

::placeholder {
  color: #e0e0e0;
  font-style: italic;
}

#timer {
  height: 40%;
  width: 100%;

  > div {
    flex: 1 0 20%;
  }

  h2 {
    font-size: calc(1.5vh + 1.5vw);
    text-align: left;
  }
}

.timerComponent {
  display: flex;
  flex-flow: column;
  align-items: center;

  h1 {
    font-size: calc(4.5vh + 4.5vw);
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  body #mc_embed_signup {
    label {
      font-size: 14px;
    }
    input.email {
      display: inline-block;
      width: 200px;
    }
    .clear {
      display: inline-block;
      width: auto;
    }
    .button {
      width: auto;
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  body {
    .header {
      height: 15%;
    }

    header {
      flex-flow: row;
    }

    #timer {
      height: 60%;
      flex-flow: column;

      > div {
        flex: 0 0 17.5%;
      }

      h2 {
        font-size: 12px;
        margin-top: 5%;
      }
    }

    .timerComponent {
      flex-flow: row;
      width: 100%;

      > * {
        width: 50%;
        padding: 0 2%;
      }

      h1 {
        font-size: 2.5em;
        text-align: right;
      }

      p {
        text-align: left;
      }
    }
    .emailSignup {
      height: 15%;

      label {
        font-size: 14px !important;
      }
      #mce-EMAIL {
        margin: 0;
      }
      #mc-embedded-subscribe {
        margin: 10px 0 0 0;
      }
    }
  }
}
