#section2 {
  @extend .columns-container;
  background-color: $off-white;
  color: $typography;
  flex-flow: row nowrap;

  .left {
    text-align: right;
    line-height: 1.5;

    h2 {
      margin-bottom: 2vh;
    }
  }

  .right > div {
    width: 100% !important;
    height: 21.1vw !important;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  body #section2 {
    flex-flow: column-reverse;

    .left, .right {
      padding: 2.5vh 0;
    }

    .left {
      text-align: left;
    }

    .right > div {
      width: 100% !important;
      height: 45vw !important;
    }
  }
}
