#sponsors.container {
  position: relative;

  @include flex(column nowrap, flex-start, center);
  margin: $large-space $small-space;
  min-height: 300px;

  .section-heading {
    margin-bottom: $small-space;
    padding-top: 100px;
  }

  #sub-heading {
    margin-bottom: 1.5rem;
  }

  .apply-button {
    margin-top: $small-space;
    background-color: $pink;
    padding: 0.5vh 2vw 0.5vh 2vw;
    margin: 10px;
    border-radius: 2px;
    &:hover {
      transform: scale(1.05);
    }
    @media screen and (max-width: 750px) {
      width: 70%;
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 750px) {
    width: 100%;
    margin-left: 0px;
  }

  .level {
    @include flex(row wrap, center, center);
    width: 70%;
    margin: 1rem auto;

    &.level-big img {
      width: 100%;
    }

    &.level-big a {
      width: 70%;
      min-width: 250px;
      margin: -3rem 0;
    }

    &.level-medium img {
      width: 100%;
    }

    &.level-medium a {
      width: 25%;
      min-width: 100px;
    }

    &.level-small img {
      width: 100%;
    }

    &.level-small a {
      width: 15%;
      min-width: 70px;
    }

    &.level-smallest img {
      width: 100%;
    }

    &.level-smallest a {
      width: 11%;
      min-width: 50px;
    }

    a {
      margin: 0rem;
    }

    & + .level {
    }
  }
}
