/* Color Palette */
$dark-gray: #535152;
$light-gray: #696E76;
$green: #00E174;
$white: #FFFFFF;

$standard-padding: 2.5vw;
$standard-indent: 150px;

/* Navbar Styles */
$navbar-logo-font-size: 36px;
$navbar-logo-image-height: 60px;
$navbar-font-size: 20px;
$navbar-margin: 1.25vw;
$navbar-padding: 8px;
$navbar-border: 2px solid;
