#verticals {
  .section-heading {
    margin-bottom: $small-space;
  }

  .container {
    @include flex(row nowrap, space-evenly, stretch);
    @media screen and (max-width: 750px) {
      display: block;
      width: 100%;
    }
  }
}

.vertical {
  background-color: $light-gray;
  width: (90vw - 4 * $small-space) / 3;
  padding: $small-space;
  @include flex(column nowrap, flex-start, center);

  @media screen and (max-width: 750px) {
    display: block;
    width: 80%;
    margin: 0px auto;
    margin-top: 30px;
  }

  img {
    margin-bottom: $small-space;
    width: 50%;
  }

  h1 {
    font-family: 'Avenir Black', sans-serif;
    font-size: $heading-font-size;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: $small-space;
  }

  p {
    font-size: $medium-font-size;
  }
}
