.faq-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-svg {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  display: block;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.faq-title {
  color: #FCF8B8;
  font-family: Fredoka;
  font-size: var(--title-font-size);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12vw;
}

.accordionContainer {
  position: absolute;
  top: 1vw;
  gap: 7vw;
  z-index: 2;
}

.footer {
  color: #FCF8B8;
  font-family: Fredoka;
  font-size: var(--body-font-size);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01vw;
}


.firefly-container {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 65vw;
  background: transparent;
  overflow: show;
}

@media only screen and (max-width: 768px) {
  .footer {
    margin-top: 4rem;
    font-size: var(--body-small-font-size);
  }
}