.button {
    display: inline-flex;
    padding: 0.25vw 0.8vw;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    transition: background 0.3s ease, color 0.3s ease;
    position: relative;
    text-decoration: none;
    font-family: Fredoka;
    font-size: 2.6vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2.5vw;
    
    background: #05502f;
    color: #fcf8b8;
}

@media only screen and (max-width: 768px) {
    .button {
        border-radius: 2vw;

        color: #019153;
        background: #fcf8b8;
        border: 1.5px solid #019153;

        font-size: var(--subtitle-font-size);
    }
}
