.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.5vw 1vw;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  height: calc(var(--title-font-size) * 1.5);
  margin-right: auto;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.5vw;
}

.navbar-sections {
  padding: 0.1vw 0.1vw;
}

.navbar-sections a {
  color: #019153;
  font-family: Fredoka;
  font-size: var(--subtitle-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.navbar-sections a:hover {
  color: #fcf8b8;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
}
