.navbar {
  position: absolute;
  right: 0;
  border-radius: 1vw;
  padding: 0.5vw 0;
  margin: 0.5vw 1vw;
  z-index: 1000;
  top: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0.5vw;
  padding: 0;
  gap: 1.5vw;
}

.navbar li {
  margin: 0 1vw;
}

.navbar a {
  color: #019153;
  font-family: Fredoka;
  font-size: var(--subtitle-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.navbar-sections {
  padding: 0.1vw 0.1vw;
}

.navbar-sections a:hover {
  color: #fcf8b8;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .navbar a {
    display: none;
  }
}
