@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#outlineBack {
    color: white;
    text-shadow:
        -1px -1px 0 #51DF9B,
        1px -1px 0 #51DF9B,
        -1px 1px 0 #51DF9B,
        1px 1px 0 #51DF9B;
}

.card__content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 1s;
    transform-style: preserve-3d;
}

.card:hover .card__content {
    transform: rotateY(180deg);
}

.card__front,
.card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
}

.card__back {
    transform: rotateY(180deg);
}




*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

.horizontal-scrolling-banner {
    overflow: hidden;
}

.horizontal-scrolling-banner__helper-wrapper {
    align-items: center;
    display: flex;
    left: 0;
    transform: translateZ(0);
    transition-property: left;
    transition-timing-function: linear;
}


/* Link underline */
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .2s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#808080, #808080)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

/* Header */

.header.active {
    background: #fff;
}

/* FAQ */

.accordion-content {
    transition: max-height 0.3s ease-out, padding 0.3s ease;
}

/* APPLY NOW BUTTON */

.background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}



/* Site header */
#site-header {
    transition: all 0.5s;
}
