:root {
  --title-font-size: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --body-font-size: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #0F1E24;
}

.homepage {
  position: relative;  /* Ensure sections stay in flow */
  z-index: 1;
}

section {
  overflow: show;
}

#section1, #section2, #section3, #section4, #section5, #section6 {
  margin: 0;
  padding: 0;
}

.section1 {
  z-index: 5;
}

